version: "3"
services:
  app:
    volumes:
      - ./app:/home/pyuser/app:delegated
      - ./.packages:/home/pyuser/.local
      - app_user:/home/pyuser # for bash history etc
    command:
      - ./docker-start.override
    networks:
      development:
networks:
  development:
volumes:
  app_user:
  db_root:
  
